* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* header section */
header {
  background-color: #fff8f3;
  background-image:
    url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    bottom left,
    bottom right;
  padding: 10px 0 0;
  background-size: 96px, auto;
}
.header_container {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
  align-items: center;
}
.header_container li a {
  text-decoration: none;
  color: black;
  transition: all 0.6s;
  font-weight: bold;
}
.header_container li a:hover {
  color: #fd6e0aff;
}
nav h2 {
  font-size: 30px;
}
.header_container span {
  color: #fd6e0aff;
}
.header_container button,
.footer_button {
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #fd6e0aff;
  border: 1px solid #fd6e0aff;
  color: white;
  transition: all 0.6s;
  cursor: pointer;
}
.header_container button:hover,
.footer_button:hover {
  background-color: white;
  color: #fd6e0aff;
}

/* hero section */
.hero_container {
  width: 85%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.hero_container h1 {
  font-size: 60px;
}
.hero_container h3 {
  font-size: 30px;
  color: #757575;
}
.hero_container_para {
  font-size: 17px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 20px;
}
.hero_container button {
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #fd6e0aff;
  font-size: 18px;
  margin-right: 18px;
  cursor: pointer;
}
.hero_container .download_button {
  background-color: #fd6e0aff;
  color: white;
  transition: all 0.6s;
}
.hero_container .download_button:hover {
  background-color: white;
  color: #fd6e0aff;
}

.hero_container .download_btn2 {
  background-color: white;
  color: #fd6e0aff;
  transition: 0.6s;
}
.hero_container .download_btn2:hover {
  background-color: #fd6e0aff;
  color: white;
}

/* About Me section */
.about_me {
  width: 70%;
  margin: 120px auto;
  padding: 120px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff8f3;
}

.about_me > h3 {
  font-size: 35px;
}
.about_me > p {
  margin: 20px 0;
  line-height: 29px;
  font-size: 17px;
  color: #757575;
}

.about_me_details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}
.about_me_details > div > h4 {
  font-size: 20px;
  font-weight: normal;
}
.about_me_details > div > p {
  font-size: 16px;
  margin-top: 6px;
  font-weight: bold;
}

/* summary section */
.resume_main_container {
  width: 70%;
  margin: 0 auto 70px;
}
.resume_main_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 70px;
}
.resume_summary_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.resume_summary_container > div > h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: rgb(78, 75, 75);
}
.resume_summary_container > div > div {
  border-bottom: 1px solid #757575;
  padding: 20px 0;
}
.resume_summary_container > div > div:last-child {
  border-bottom: none;
}
.resume_summary_container > div > div > h3 {
  font-size: 22px;
  color: rgb(100, 91, 91);
}
.university {
  font-size: 20px;
  color: #443f3f;
  margin: 10px 0;
  font-weight: 600;
}
.skill_details {
  font-size: 17px;
  color: #757575;
}
/* My amazing work section */
.my_amazing_work {
  width: 70%;
  margin: 0 auto;
}
.my_amazing_work h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}
.my_amazing_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
}
.my_amazing_container > div {
  overflow: hidden;
}
.my_amazing_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.amazing_1 {
  grid-column: 1/5;
  grid-row: 1/6;
}
.amazing_2 {
  grid-column: 5/9;
  grid-row: 1/8;
}
.amazing_3 {
  grid-column: 9/-1;
  grid-row: 1/5;
}
.amazing_4 {
  grid-column: 1/5;
  grid-row: 6/-1;
}
.amazing_5 {
  grid-column: 5/9;
  grid-row: 8/-1;
}
.amazing_6 {
  grid-column: 9/-1;
  grid-row: 5/-1;
}

/* What i do section */
.my_work_container {
  width: 70%;
  margin: 70px auto;
}
.my_work_container h2 {
  font-size: 35px;
  text-align: center;
}
.my_work_container > p {
  width: 70%;
  font-size: 17px;
  margin: 30px auto;
  text-align: center;
  color: #757575;
}

.my_work_main_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.my_work_main_container > div {
  padding: 30px;
}
.my_work_main_container > div > h3 {
  font-weight: bolder;
  margin: 20px 0;
}
.my_work_main_container > div > p {
  line-height: 25px;
  color: #757575;
}

/* footer section */
footer {
  background-color: #fff8f3;
  padding: 100px 0;
  margin: 90px 0 0;
}
.footer_container {
  width: 70%;
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 40px;
}
.footer_left {
  padding-right: 80px;
}
.footer_container ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.footer_container h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.footer_right input,
textarea {
  width: 100%;
  font-size: 17px;
  padding: 15px 22px;
  margin-bottom: 20px;
  border: 1px solid #fff8f3;
  outline: none;
}
